.sidebar-about h1{
  font-family: "brandon-grotesque", "Arial", sans-serif;
  font-weight: 100;
}
.sidebar-nav-item{
  font-family: "brandon-grotesque", "Arial", sans-serif;
  font-weight: 300;
}
.post-title, h1, h2, h3, {
  font-family: "brandon-grotesque", "Arial Black", sans-serif;
  font-weight: 700;

}
html{
  font-family: "ff-tisa-web-pro", Georgia, serif;
}
a{
  color: #02D4FF;
}
