---
---
@import "poole";
@import "syntax";
@import "hyde";

.sidebar-about h1{
  font-family: 'adelle';
  font-weight: 100;
}
.sidebar-nav-item{
  font-family: 'adelle';
  font-weight: 400;
}
.post-title, h1, h2, h3, {
  font-family: 'adelle';
  font-weight: 800;

}
html{
  font-family: 'expo-serif-pro';
}
