---
---
@import "poole";
@import "syntax";
@import "hyde";
@import "typography";

body{
  visibility: hidden;
}
.wf-inactive body{
  visibility: visible;
}
.wf-active body {
  visibility: visible;
}

.quark-large{
  width: 100%;
}
.lead-in{
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.more{
  text-align: right;
  font-family: "brandon-grotesque", "Arial Black", sans-serif;
  font-weight: 700;
}
